@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap');

* {
  font-family: 'Overpass', sans-serif;
}

h3 {
  font-weight: 900;
  color: #0077AF;
  /* font-size: 36px; */
  letter-spacing: 0.05em;

}

h1 {
  font-weight: bold;
  /* font-size: 80px; */
  color: #6EC4C5;
}

.services-title p {
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 0.2em;
  color: #004566;
  padding-bottom: 10px;
}
.service:nth-child(1) .service-name::before {
  content: url(../branding.svg);
  vertical-align: middle;
  padding-right:1rem;
}

.service:nth-child(2) .service-name::before {
  content: url(../development.svg);
  vertical-align: middle;
  padding-right:1rem;
  width: 2rem;

}

.service:nth-child(3) .service-name::before {
  content: url(../strategy.svg);
  vertical-align: middle;
  padding-right:1rem;

}

.service-name {
  font-size:2.5em;
}

.service-desc {
  color: #CCEFFF;
  text-align: justify;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu a {
    display: block;
    position: relative;
    color: #2c3e50;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #FFF;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

#header {
    height: 105px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.9);
}

#header.header-transparent {
    background: transparent;
}

#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #ffffff 100%,  #61acdf 100%);
    padding: 0;
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 85vh;
    padding-top: 60px;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  
  #section1{
      background-color: #0077AF;
      padding-top: 80px;
      color: #fff;
  }

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #6dc3c6;
    line-height: 1;
}

.circle {
    height: 200px;
    width: 200px;
    background-color:transparent;
    border-radius: 50%;
    border: 5px solid #0077AF;
    display: inline-block;
}

.btn-lets-talk {
    border: 2px solid #CCEFFF;
    box-sizing: border-box;
    border-radius: 5px;
    color: #CCEFFF;
    text-decoration: none;
    padding:10px 60px;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
}

.btn-lets-talk:hover {
  background-color: rgb(0, 0, 0, .1);
  color: #CCEFFF;
}

.btn-see-our-work {
  border: 2px solid #6EC4C5;
  box-sizing: border-box;
  border-radius: 5px;
  color: #6EC4C5;
  text-decoration: none;
  padding:10px 60px;
  font-size: 1rem;
  text-align: center;
  margin: auto;  
}

.btn-see-our-work:hover {
  color: #6EC4C5;
  background-color: rgba(0, 119, 175, .1);
}